.task-form {
  width: 80%;
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto; 
  border: 3px solid #045783;
  border-radius: 10px;
  background-color: rgb(247, 247, 247); 
  box-sizing: border-box;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #045783;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }

  label {
    font-size: 18px;
    color: #333;
  }

  .task-input {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #045783;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #0198e1; 
    }

    &::placeholder {
      font-size: 16px;
      color: #999; 
    }
  }

  .task-button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #045783;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0198e1;
    }

    &:focus {
      outline: none;
    }
  }
}
