.task-list-container {
  width: 65%;              
  margin: 0 auto;          
  min-height: auto;       
  padding: 20px;           
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
}
